<div class="jumbotron">
<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plan.price %>
</p>

</div>
<p><%= link_to 'Edit', edit_plan_path %></p>
<p><%= link_to 'Delete', plan_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<p><%= link_to 'Show all plans', plans_path %></p>
