<h1>All Sites</h1>

<table class="table">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "url" %></th>
    <th><%= sortable "plans.name", "Plan" %></th>
  </tr>

  <% monthly_revenue = 0 %>
  <% @sites.each do |site| %>
  <tr>
    <td><%= site.name %></td>
    <td><%= site.url %></td>
    <td><%= site.plan.name %></td>
    <td><%= link_to 'Show', site_path(site) %></td>
    <td><%= link_to 'Edit', edit_site_path(site) %></td>
  </tr>
  <% monthly_revenue += site.plan.price %>
  <% end %>
</table>

<div class=jumbotron>
  Monthly recurring revenue:<strong> £<%= monthly_revenue %></strong>
</div>
