<div class="jumbotron">
<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @site.url %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @site.plan.name %>
</p>

</div>
<p><%= link_to 'Edit', edit_site_path %></p>
<p><%= link_to 'Back to all sites', sites_path %></p>
