<h1>
  <%= link_to @site.url, URI::HTTP.build(host: @site.url).to_s %>
</h1>
<div class="jumbotron">
<p>
  <strong>Plan:</strong>
  <%= link_to @site.plan.name, plan_path %>
  (£<%= @site.plan.price %>)
</p>
<p>
  <strong>Organisation:</strong>
  <%= link_to @site.organisation.name, organisation_path %>
</p>
<p><%= link_to 'Edit Site', edit_site_path %></p>
</div>

<div class="container"
<h2>Add a note:</h2>
<%= render "notes/form" %>

<p>
<b>Tags</b>
<%= @site.tags.map { |t| t.name }.join(", ") %>
</p>

<h2>Notes</h2>
  <div class='jumbotron'>
    <%= render @site.notes %>
  </div>
</div>
